
__pycache__/GamryFuncs.cpython-312.pyc
__pycache__/AutolabFuncs.cpython-312.pyc
.DS_Store
__pycache__/GamryFuncs.cpython-312.pyc
__pycache__/AutolabFuncs.cpython-312.pyc
Test/TestData/.DS_Store
__pycache__/autolab_funcs.cpython-312.pyc
.DS_Store
__pycache__/autolab_funcs.cpython-312.pyc
